In [132]:
import pandas as pd
import numpy as np
from pathlib import Path

In [133]:
#comany made up name YWDP;Your Wedding Photographer
#read in data
YWDP_data = Path("../PyBank/Resources/budget_data.csv")
YWDP_df = pd.read_csv(YWDP_data, index_col="Date", parse_dates=True, infer_datetime_format=True)
YWDP_df.head()

            Profit/Losses
Date
2010-01-01         867884
2010-02-01         984655
2010-03-01         322013
2010-04-01         -69417
2010-05-01         310503

In [134]:
index = YWDP_df.index
total_months = len(index)
print(total_months)

86

In [135]:
total = YWDP_df["Profit/Losses"].sum()
print(total)

38382578

In [136]:
#make data frame for change in profits
change_df = YWDP_df.diff().dropna()
change_df.head()

            Profit/Losses
Date
2010-02-01       116771.0
2010-03-01      -662642.0
2010-04-01      -391430.0
2010-05-01       379920.0
2010-06-01       212354.0

In [137]:
avrg = change_df["Profit/Losses"].mean()
print(avrg)

-2315.1176470588234

In [138]:
dec = change_df["Profit/Losses"].min()
print(dec)

-2196167.0

In [142]:
inc = change_df["Profit/Losses"].max()
print(inc)

1926159.0

In [160]:
print("Financial Analysis")
print("----------------------------")
print("Total Months: ", total_months)
print("Total: $", total)
print("Average  Change: $", avrg)
print("Greatest Increase in Profits: Feb-2012 ($",inc , ")")
print("Greatest Decrease in Profits: Sep-2013 ($", dec, ")")

Financial Analysis
----------------------------
Total Months:  86
Total: $ 38382578
Average  Change: $ -2315.1176470588234
Greatest Increase in Profits: Feb-2012 ($ 1926159.0 )
Greatest Decrease in Profits: Sep-2013 ($ -2196167.0 )